.about-project {
    width: 100%;
    margin: 0 auto;
    padding: 110px 0;
    display: grid;
    grid-template-rows: repeat(5, max-content);
    grid-template-columns: repeat(5, 1fr);
}

.about-project__header {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    font-size: 22px;
    letter-spacing: -0.88px;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 23px;
    border-bottom: solid 1px #000;
    margin: 0 0 70px 0;
}

.about-project__title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 26px 0;
}

.about-project__subtitle {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0 0 110px 0;
}

.about-project__graph {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #A0A0A0;
    margin: 0;
}

.about-project__text-container {
    grid-row: 2 / 4;
    grid-column: 1 / 6;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

.about-project__title_stages {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.about-project__title_time {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.about-project__subtitle_stages {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.about-project__subtitle_time {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.about-project__graph_backend-time {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background-color: #2BE080;
    height: 36px;
    transform: translateY(-8px);
    color: #000;
}

.about-project__graph_frontend-time {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 4 / 5;
    grid-column: 2 / 6;
    background-color: #F2F2F2;
    height: 36px;
    transform: translateY(-8px);
    color: #000;
}

.about-project__graph_backend {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

.about-project__graph_frontend {
    grid-row: 5 / 6;
    grid-column: 2 / 6;
}

@media (max-width: 1023px) {
    .about-project {
        padding: 90px 0;
    }
    
    .about-project__title {
        margin: 0 0 22px 0;
    }
    
    .about-project__subtitle {
        font-size: 12px;
        margin: 0 0 93px 0;
    }
    
    .about-project__graph {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        color: #8B8B8B;
        margin: 0;
    }
    
    .about-project__text-container {
        column-gap: 30px;
    }
    .about-project__graph_backend-time {
        color: #000;
    }
    
    .about-project__graph_frontend-time {
        color: #FFFFFF;
    }
}

@media (max-width: 512px) {
    .about-project {
        padding: 70px 0;
        display: grid;
        grid-template-rows: repeat(5, max-content);
        grid-template-columns: repeat(3, 1fr);
    }
    
    .about-project__header {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-bottom: 28px;
        margin: 0 0 60px 0;
    }

    .about-project__text-container {
        grid-row: 2 / 4;
        grid-column: 1 / 4;
        grid-template-rows: repeat(4, max-content);
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    .about-project__title {
        font-size: 18px;
        margin: 0 0 16px 0;
    }
    
    .about-project__subtitle {
        font-size: 11px;
        line-height: 1.4;
        margin: 0 0 56px 0;
    }
    
    .about-project__title_stages {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    .about-project__title_time {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    
    .about-project__subtitle_stages {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    .about-project__subtitle_time {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .about-project__graph {
        font-size: 11px;
    }
    
    .about-project__graph_backend-time {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        color: #000;
    }
    
    .about-project__graph_frontend-time {
        grid-row: 4 / 5;
        grid-column: 2 / 4;
        color: #FFFFFF;
    }
    
    .about-project__graph_backend {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    
    .about-project__graph_frontend {
        grid-row: 5 / 6;
        grid-column: 2 / 6;
    }
}