.promo {
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.promo__title {
  max-width: 730px;
  margin: 160px 0 151px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000;
}

.promo__menu {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.promo__link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 36px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  background: #e8e8e8;
  border-radius: 10px;
}

@media screen and (max-width: 880px) {
  .promo__title {
    margin: 350px 24px 380px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 580px) {
  .promo__title {
    margin: 220px 14px 255px;
    font-size: 29px;
    line-height: 37px;
  }

  .promo__menu {
    margin-bottom: 17px;
    gap: 6px;
  }
  .promo__link {
    width: 82px;
    height: 26px;
    font-size: 10px;
  }
}
